extends ./index

block link
    link(rel='stylesheet',href='vendor/leaflet/dist/leaflet.css')
    link(rel='stylesheet',href='vendor/leaflet-search/dist/leaflet-search.min.css')
    link(rel='stylesheet',href='/style.css')
    script(src='vendor/leaflet/dist/leaflet.js')
    script(src='vendor/leaflet-search/dist/leaflet-search.min.js')
block script
    script(src='vendor/jquery/dist/jquery.js')
    script(src='vendor/d3/d3.js')
    script(src='js/blueprint.js')
    script(src='js/drag.js')
    script(src='js/abs/simple.js')
    script(src='js/abs/multiple.js')
    script(src='js/abs/compose2.js')
    script(src='js/abs/graph2.js')
    script(src='js/abs/install.js')
    script(src='js/obj/lines/line.js')
    script(src='js/obj/lines/polyline.js')
    script(src='js/obj/areas/rect.js')
    script(src='js/obj/areas/polygon.js')
    script(src='js/obj/areas/arc.js')
    script(src='js/obj/doors/door1.js')
    script(src='js/obj/doors/door2.js')
    script(src='js/obj/doors/door3.js')
    script(src='js/obj/doors/door4.js')
    script(src='js/obj/doors/door5.js')
    script(src='js/obj/doors/door6.js')
    script(src='js/obj/doors/door7.js')
    script(src='js/obj/windows/window1.js')
    script(src='js/obj/gas/meter.js')
    script(src='js/obj/gas/piston.js')
    script(src='js/obj/gas/input.js')
    script(src='js/obj/gas/output.js')
    script(src='js/obj/gas/aeration.js')
    script(src='js/obj/gas/heater.js')
    script(src='js/obj/rooms.js')
    script(src='js/obj/text.js')
    script(src='js/obj/graph.js')
    script(src='js/index.js')
    script(src='http://localhost:35729/livereload.js')

