doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=device-width,initial-scale=1,maximum-scale=1')
        link(rel='stylesheet',href='vendor/leaflet/dist/leaflet.css')
        link(rel='stylesheet',href='vendor/leaflet-search/dist/leaflet-search.min.css')
        script(src='vendor/leaflet/dist/leaflet.js')
        script(src='vendor/leaflet-search/dist/leaflet-search.min.js')
        style.
            #mapid {
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 185px;
                right: 0px;
            }
    body
        #mapid
        script.
            var mymap=L.map('mapid').setView([51.505,-0.09],13);
            var search=new L.Control.Search({
                    url:'https://nominatim.openstreetmap.org/search?format=json&q={s}'
                  , propertyName:'display_name'
                  , jsonpParam:'json_callback'
                  , propertyLoc:['lat','lon']
                  , autoCollapse:true
                  , autoType:false
                  , minLength:2
                  , moveToLocation:function(latlng, title, map) {
                        var url=L.Util.template('http://osm.org/?mlat={lat}&amp;mlon={lon}#map={zoom}/{lat}/{lon}', {
                            lat:latlng.lat,
                            lon:latlng.lng,
                            zoom:map.getZoom()
                        });

                        //location.href=url;
                        console.log(url);
                        mymap.setView(latlng,7);
                    }
                });

            mymap.addControl(search);

            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}',{
                attribution:'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>'
              , maxZoom:18
              , id:'mapbox.streets'
              , accessToken:'pk.eyJ1IjoiamFjb2JpYW4iLCJhIjoiQWFfMjJxYyJ9.'
                    +'O50MgJ-QqbTAQjn6bIstfg'
            }).addTo(mymap);

